<form [formGroup]="formUser" (ngSubmit)="onSubmit()" class="formulario">

  <div class="campo">
    <label>
      Nombre:
      <input type="text" formControlName="nombre">
    </label>
  </div>

  <div class="campo">
    <label>
      Apellido:
      <input type="text" formControlName="apellido">
    </label>
  </div>

  <div class="campo">
    <label>
      Email:
      <input type="email" formControlName="email">
    </label>
  </div>

  <div class="campo">
    <label>
      Confirmar Mail:
      <input type="email" formControlName="confirmaremail">
      <div *ngIf="formUser.get('confirmaremail')?.value !== formUser.get('email')?.value && formUser.get('confirmaremail')?.touched" class="error">
        Los correos no coinciden.
      </div>
    </label>
  </div>

  <div class="campo">
    <label>
      Clave:
      <input type="password" formControlName="clave">
    </label>
  </div>

  <div class="campo">
    <label>
      Telefono:
      <input type="tel" formControlName="telefono">
    </label>
  </div>

  <div class="campo">
    <label for="deseaNotificacion">
      ¿Desea notificación?
      <input type="checkbox" formControlName="deseanotificacion" id="deseaNotificacion">
    </label>
  </div>

  <div class="campo">
    <label for="terminosCondiciones">
      ¿Acepta los términos y condiciones?
      <input type="checkbox" formControlName="terminosycondiciones" id="terminosCondiciones">
    </label>
    <div *ngIf="formUser.get('terminosycondiciones')?.value === false && formUser.get('terminosycondiciones')?.dirty" class="error">
      Debe aceptar los términos y condiciones.
    </div>
  </div>

  <div class="campo">
    <button type="submit" [disabled]="!formUser.valid || !formUser.get('terminosycondiciones')?.value || !validaIgualdadEmail()">
      Enviar
    </button>
  </div>

</form>

